.speaker-carousel {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

.speaker-carousel:first-child {
    position: absolute;
    left: 30%;
}