#projects-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-container {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

/* TABLET AND BELOW (0–768) */
@media (max-width: 768px) {
    #projects-section {
        flex-direction: column;
        align-items: stretch;
    }

    .project-container {
        width: 100%;
    }

    .project h4 {
        font-size: 1.5rem;
    }
}

/* MOBILE ONLY (0–430) */
@media (max-width: 430px) {
    .project-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .card.project {
        width: 100%;
    }
}