footer {
    background: black;
    width: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

footer img {
    flex: 0 0 auto;
    height: 100px;
}

footer nav {
    padding: 0;
}

footer ul {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 2rem;
}

footer nav a {
    text-align: left;
}

.footer-div {
    display: flex;
    justify-content: space-around;
    margin: 0 10%;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.address-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.creative-commons {
    background: (var(--red));
    padding: 2rem 0 1rem 0;
    text-align: center;
    word-spacing: .5rem;
}

/* TABLET AND BELOW (0–768) */
@media (max-width: 768px) {
    .footer-div {
        margin: 5%;
        align-items: center;

    }

    .info-container {
        padding-right: 1rem;
    }

    .logo {
        display: none;
    }
}

/* MOBILE ONLY (0–430) */
@media (max-width: 430px) {}