footer {
    background: black;
    width: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer img {
    flex: 0 0 auto;
    height: 100px;
}

footer nav {
    padding: 0;
}

footer ul {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

footer nav a {
    text-align: left;
}

.footer-div {
    display: flex;
    justify-content: space-around;
    margin: 0 10%;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.address-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.creative-commons {
    background: (var(--red));
    padding: 2rem 0 1rem 0;
    text-align: center;
    word-spacing: .5rem;
}