#hero-section {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    background: none;
}

.hero-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    filter: grayscale(100%);
}

.overlay {
    position: absolute;
    padding: 6rem 4rem;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(180deg,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.35));
}

.tagline {
    width: 747px;
    font-size: 5rem;
    text-align: left;
    font-weight: 600;
    padding:  3rem 0;
}

/* TABLET AND BELOW (0–768) */
@media (max-width: 768px) {
    .tagline {
        font-size: 4rem;
        width: 430px;
    }

    .overlay {
        text-align: center;
        align-items: center;
    }
}

/* MOBILE ONLY (0–430) */
@media (max-width: 430px) {
    .tagline {
        font-size: 3rem;
        width: 100%;
    }
}