#faq-section {
    display: flex;
    min-height: 50vh;
    flex-direction: column;
    align-items: center;
}

#faq-section h2 {
    padding: 1rem 0;
}

.faq-container {
    display: flex;
    justify-content: center;
    width: 70%;
}