.about-text {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: center;
    max-width: 800px;
}

.about-text h1 {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 3rem;
    color: white;
    margin-bottom: 0.75rem;
}

.about-text p {
    margin-top: 0;
    color: #cbd5f5;
}

.about-text img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 1rem;
}

.about-container {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 40px 0 40px 0;
}

.about-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60%;
    height: 80vh;
    margin: 0 auto;
}

.about-cont h1 {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 10px 0 0 0;
    font-size: 5rem;
    color: white;
}

.about-cont>h1:nth-child(1),
.about-cont>h1:nth-child(3) {
    align-self: flex-start;
    text-align: left;
}

.about-cont>h1:nth-child(4) {
    align-self: flex-end;
    text-align: left;
    margin-right: 10%;
}