/* HERO SECTION */
#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 0 20px;
}

.tagline {
    font-size: 1.2rem;
    color: #cbd5f5;
    margin: 1rem 0 2rem;
    max-width: 600px;
}

.logo {
    width: 30%;
    height: auto;
}

.tagline {
    font-size: 1.5rem;
    color: #cbd5f5;
    margin-top: 1rem;
}

.register-btn {
    position: relative;
    padding: 16px 32px;
    font-size: 1.2rem;
    font-weight: 700;
    color: #8B2233;
    border: 2px solid #8B2233;
    background-color: transparent;
    overflow: hidden;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 2rem;

    transition: all 0.2s ease;
}

.register-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #FEC60D, #8B2233);
    transition: all 0.1s ease;
    z-index: -1;
}

.register-btn:hover {
    color: #fff;
    letter-spacing: 2px;
    border-radius: 2rem;
    box-shadow: 0px 6px 3rem #8B2233, 0 0 25px #8B2233, 0 0 50px #8B2233;
}

.register-btn:hover::before {
    left: 0;
}

.register-btn:hover {
    left: 0;
}

.info-container {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.icon {
    width: 20px;
    height: 20px;
}