#team {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

#team .person-card {
    width: 150px;
    height: 220px;
}