#team-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.team-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    margin-top: 2rem;
}

.pillar {
    border: 2px solid white;
    border-radius: 2rem;
    min-width: 20%;
    padding: 1rem;
}

/* TABLET AND BELOW (0–768) */
@media (max-width: 768px) {
    #team-section {
        flex-direction: column;
    }

    .team-container {
        width: 100%;
        justify-content: space-around;
    }
}

/* MOBILE ONLY (0–430) */
@media (max-width: 430px) {}