#about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-image {
    width: 50%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1/1;
    border: black 1px solid;
    height: auto;
}

.about-text-container {
    width: 50%;
    padding: 6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-grow: 1;
}

#about-section h2 {
    margin: 0;
}