#about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Desktop defaults */
.about-logo {
    width: 50%;
    height: auto;
    object-fit: cover;
    border: 1px solid black;
    margin: auto;
}

.about-text-container {
    width: 50%;
    padding: 6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-grow: 1;
    font-size: 1.25rem;
}

#about-section h2 {
    padding: 0;
}

/* TABLET AND BELOW (0–768) */
@media (max-width: 768px) {
    #about-section {
        flex-direction: column;
        align-items: stretch;
    }

    .about-logo,
    .about-text-container {
        width: 100%;
    }

    .about-text-container {
        padding: 2rem;
    }
}

/* MOBILE ONLY (0–430) */
@media (max-width: 430px) {
    .about-text-container {
        padding: 1rem;
        gap: 1rem;
    }

    .about-logo {
        padding: 6%;
    }
}