.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20%;
    min-height: 200px;
    background: rgba(255, 255, 255, 0.041);
}

.card img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}

.role-text {
    color: rgb(112, 104, 104);
}

.card-text {
    padding: .5rem;
}