.card:hover {
    cursor: pointer;
}

.card.speaker {
    display: flex;
    flex-direction: column;
    width: 20%;
    min-height: 200px;
    background: rgba(255, 255, 255, 0.041);
}

.card.project {

    flex: 0 0 50%;
    width: 50%;
    height: auto;
}

.card img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}

.text {
    color: rgb(114, 114, 114);
}

.card-text {
    padding: .75rem;
    margin: .5rem;
}

.card-text p {
    font-size: 1.25rem;
}

/* TABLET AND BELOW (0–768) */
@media (max-width: 768px) {
    .card.speaker {
        width: 40%;
    }
}

/* MOBILE ONLY (0–430) */
@media (max-width: 430px) {}