header {
    z-index: 3;
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: black;
    align-items: center;
    padding: 1rem 1rem;
}

.header-logo {
    width: 100px;
    margin-right: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    gap: 3rem;
}

/* TABLET AND BELOW (0–768) */
@media (max-width: 768px) {
    nav {
        display: none;
    }
}

/* MOBILE ONLY (0–430) */
@media (max-width: 430px) {
    nav {}
}