.card {
    width: 250px;
    height: 250px;
    border: 1px solid #ccc;

    display: flex;
    flex-direction: column;
    border-radius: 10%;
    padding: 2rem;
    margin: 8px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg,
            rgba(0, 0, 0, 0.8),
            rgba(56, 189, 248, 0.2));

}

.card h2 {
    margin-top: 10%;
}