.person-card {
    width: 120px;
    min-height: 180px;
    /* border-radius: 1.25rem; */
    padding: 0;
    box-shadow: 0 1px 40px #fec60d13;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    color: #e5e7eb;
    backdrop-filter: blur(6px);
    pointer-events: auto;
}

.person-card-avatar-wrap {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.person-card-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.person-card-body {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem 0.5rem;
    gap: 0.15rem;
}

.person-card-name {
    font-size: 0.75rem;
    margin: 0 0 .5rem 0;
    font-weight: 600;
}

.person-card-role {
    font-size: 0.6rem;
    margin: 0;
    color: #cbd5f5;
}

.person-card-org {
    font-size: 0.6rem;
    margin: 0;
    color: #FEC60D;
}