#sponsors-section {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#sponsors-section h2 {
    padding: 0 1rem;
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;

    gap: 3rem
}

.sponsor-cta-text {
    margin-bottom: 1rem;
}

.sponsor-logo {
    max-width: 10%;

}