.carousel {
    --spread: 20rem;
    --depth: 30rem;
    --tilt: 50deg;

    position: relative;
    width: 100%;
    height: 50vh;
    perspective: 500px;
    transform-style: preserve-3d;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50%;
}

.card-container {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateY(calc(var(--offset) * var(--tilt))) scaleY(calc(1 + var(--abs-offset) * -0.4)) translateZ(calc(var(--abs-offset) * calc(-1 * var(--depth)))) translateX(calc(var(--direction) * calc(-1 * var(--spread))));
    filter: blur(calc(var(--abs-offset) * 1rem));
    transition: all 0.3s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    z-index: 2;
}