.carousel {
    display: block;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 50vh;
    perspective: 500px;
    transform-style: preserve-3d;
}

.card-container {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateY(calc(var(--offset) * 50deg)) scaleY(calc(1 + var(--abs-offset) * -0.4)) translateZ(calc(var(--abs-offset) * -30rem)) translateX(calc(var(--direction) * -5rem));
    filter: blur(calc(var(--abs-offset) * 1rem));
    transition: all 0.3s ease-out;
}