.fadeUp {
    animation: fadeUp both;
    animation-timeline: view();
    animation-range: entry 5% cover 30%;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px) scale(0.8);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}