:root {
  --red: #8B2233;
  --gold: #FEC60D;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
  background: black
}

section {
  background: black;
  padding: 0 0 1rem 0;
}

button {
  background: var(--red);
  color: white;
  border: none;
  padding: 1rem 1.5rem;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

h2 {
  margin: 0 0 1rem 2rem;
  font-size: 3rem;
}

h3 {
  margin: .5rem 0 .5rem 0;
}

h4 {
  font-size: 2rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}