:root {
  --red: #801919;
  --gold: #FFC30B;
  --black: #000000;
  --white: #FFFFFF;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

html, body {
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.22);
  border-radius: 999px;
  border: 3px solid transparent;
  /* creates padding around thumb */
  background-clip: content-box;
  /* makes border act like spacing */
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.35);
  border: 3px solid transparent;
  background-clip: content-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "TT Norms", system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

img, picture, video, iframe, svg {
  max-width: 100%;
  height: auto;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Telegraf", system-ui, -apple-system, "Segoe UI", sans-serif;
}

body {
  background: black
}

section {
  background: black;
  padding: 1rem 1rem;
  scroll-snap-align: start;
  scroll-margin-top: 72px;
}

button {
  background: var(--red);
  color: white;
  border: none;
  padding: 1rem 1.5rem;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

h2 {
  padding: 1rem 0 1rem 2rem;
  font-size: 3rem;
}

h3 {
  margin: .5rem 0 .5rem 0;
}

h4 {
  font-size: 2rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

span {
  color: var(--gold);
}

#projects-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-container {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

/* TABLET AND BELOW (0–768) */
@media (max-width: 768px) {
  h2 {
    font-size: 2.5rem;
    padding-left: 1rem;
  }

  h4 {
    font-size: 1.75rem;
  }
}

/* MOBILE ONLY (0–430) */
@media (max-width: 430px) {
  h2 {
    font-size: 2rem;
    padding-left: 1rem;
  }

  h4 {
    font-size: 1.5rem;
  }
}